@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.eot");
  src: local("☺"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/ofont.ru_Roboto.eot");
  src: local("☺"), url("../fonts/ofont.ru_Roboto.woff") format("woff"), url("../fonts/ofont.ru_Roboto.ttf") format("truetype"), url("../fonts/ofont.ru_Roboto.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header__slider .slick-list {
  overflow: hidden;
}
.header__slider .slick-track {
  display: flex;
}
.header__slider .slick-dots {
  margin: 142px 0 0 0;
  padding: 0 0 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}
.header__slider .slick-dots li.slick-active button {
  background-color: #00e0d0;
}
.header__slider .slick-dots li button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #c2c2c2;
}

.slider__photo .slick-list {
  overflow: hidden;
}
.slider__photo .slick-track {
  display: flex;
}
.slider__photo .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -10px 0 0 0;
  font-size: 0;
  width: 21px;
  height: 31px;
  z-index: 10;
}
.slider__photo .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/workers/prev.svg) 0 0/100% no-repeat;
}
.slider__photo .slick-arrow.slick-next {
  right: 0;
  background: url(../img/workers/next.svg) 0 0/100% no-repeat;
}

.slider__text .slick-list {
  overflow: hidden;
}
.slider__text .slick-track {
  display: flex;
}
.wrapper {
  overflow: hidden;
  min-width: 100%;
}

.container {
  max-width: 939px;
  margin: 0 auto;
}

.header {
  padding: 15px 0 0 0;
  background: url(../img/header/header-bacround.png) 0 0px no-repeat;
  background-size: cover;
}
.header .header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__logo {
  display: flex;
  align-items: center;
}
.header .header__img {
  margin: 0 11px 0 0;
}
.header .logo__text {
  color: #27BAC7;
  font-family: "Roboto Thin";
  font-size: 30px;
  font-weight: 400;
}
.header .header__nav .nav__list {
  display: flex;
}
.header .header__nav .nav__item {
  margin: 0 25px 0 0;
}
.header .header__nav .nav__link {
  color: #ffffff;
  font-family: "Roboto Black";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  transition: all 0.4s ease;
}
.header .header__nav .nav__link:hover {
  color: #00e0d0;
}

.header__slider {
  margin: 183px 0 0px 0;
  min-width: 0;
}
.header__slider .slide .slide__row {
  display: flex;
  min-width: 0;
}
.header__slider .slide .slide__title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.32px;
  margin: 0 0 21px 0;
}
.header__slider .slide hr {
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin: 0 auto;
}
.header__slider .slide .slide__text {
  margin: 30px 0 50px 0;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
}
.header__slider .slide .slider__btn {
  display: flex;
  justify-content: center;
}
.header__slider .slide .slider__btn .btn__text {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

.main {
  margin: 75px 0 100px 0;
}
.main .uor-story {
  padding: 0 0 85px;
}
.main .uor-story__row {
  display: flex;
  justify-content: space-between;
}
.main .our-story__img {
  margin: 0 100px 0 0;
}
.main .content__uor-story {
  display: flex;
  flex-direction: column;
}
.main .content__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: left;
  margin: 0 0 28px 0;
}
.main .content__text {
  color: rgba(65, 61, 75, 0.6235294118);
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.42px;
  margin: 0 0 31px 0;
}
.main .content__text p {
  margin: 0 0 30px 0;
}
.main .content__btn .btn__text {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

.video-our-story {
  padding: 202px 0;
  background: url(../img/our-story/PUT_YOUR_IMAGE_HERE.png) 0 0 no-repeat;
  background-size: cover;
}
.video-our-story__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-our-story__btn {
  display: inline-flex;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 27px 28px 28px 35px;
  margin: 0 0 35px 0;
}
.video-our-story__text {
  color: #ffffff;
  font-family: "Roboto Black";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.expertise {
  margin: 72px 0 101px 0;
}
.expertise__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expertise__header {
  margin: 0 0 84px 0;
}
.expertise__title {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 0 0 16px 0;
}
.expertise__sub-title {
  color: rgba(47, 45, 53, 0.768627451);
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.05px;
  margin: 0 0 18px 0;
}
.expertise hr {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: rgba(65, 61, 75, 0.4588235294);
}
.expertise__columns {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -33px -79px;
}

.expertise__column {
  display: flex;
  flex: 1 1 33.333%;
  text-align: center;
  padding: 0 33px;
  margin: 0 0 79px 0;
}
.expertise__column .img {
  margin: 0 0 35px 0;
}
.expertise__column .title {
  margin: 0 0 25px 0;
  color: #413d4b;
  font-family: "Roboto - Black";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.expertise__column .text {
  color: rgba(51, 51, 51, 0.7529411765);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.7px;
}

.column-2 .img {
  margin: 0 0 39px 0;
}

.column-6 .img {
  margin: 0 0 37px 0;
}

.team {
  padding: 71px 0 69px 0;
  background: url(../img/amazing-team/PUT_YOUR_BACKGROUND_HERE.png) 0 0 no-repeat;
  background-size: cover;
}
.team__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__header {
  margin: 0 0 47px 0;
  text-align: center;
}
.team__columns {
  display: flex;
  margin: 0 -10px;
}
.team__column {
  padding: 0 10px;
  margin: 0 0 70px 0;
}

.title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 0 0 16px;
}

.sub-title {
  color: #f9f9f9;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  margin: 0 0 18px 0;
}

hr {
  margin: 0 auto;
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1843137255);
}

.column__item {
  border: 1px solid rgba(225, 225, 225, 0.6352941176);
}

.photo__team {
  margin: 0 0 23px 0;
}

.name {
  color: #ffffff;
  font-family: "Roboto Black";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin: 0 0 12px 0;
}

.position {
  color: rgba(250, 250, 250, 0.4784313725);
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.team__text {
  color: #f3f3f3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.7px;
  margin: 0 0 26px 0;
}
.btn__text {
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

.workers {
  padding: 69px 0;
  background: url(../img/workers/PUT_YOUR_BACKGROUND_HERE.png) 0 0 no-repeat;
  background-size: cover;
}
.workers__row {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.workers__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 84px;
}
.workers__slider {
  padding: 0 31px;
}

.header__img {
  margin: 0 0 42px 0;
}
.header__text {
  text-align: center;
  color: rgba(255, 255, 255, 0.8470588235);
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin: 0 0 92px 0;
}

.workers__sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workers__sliders .slider__photo {
  width: 580px;
  padding: 0 31px;
  position: relative;
  min-width: 0;
}
.workers__sliders .slider__photo .slide {
  text-align: center;
  margin: 0 19px;
}

.workers__sliders .slider__text {
  min-width: 0;
  z-index: 10;
  text-align: center;
  width: 130px;
  margin: 0 0 58px 0;
  transition: all 0.5s ease;
}
.workers__sliders .slider__text .slide-name {
  color: #ffffff;
  font-family: "Roboto Black";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.workers__sliders .slider__text .slide-position {
  opacity: 0.7;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.client {
  padding: 70px 0;
}
.client__row {
  display: flex;
  justify-content: space-between;
}

.good-news__header {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin: 0 0 35px 0;
}

.input {
  display: flex;
  flex-direction: column;
}
.input__name {
  padding: 17px 0 17px 20px;
  display: inline-block;
  margin: 0 0 23px 0;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
}
.input__email {
  display: inline-block;
  padding: 17px 0 17px 20px;
  margin: 0 0 23px 0;
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
}
.input__subject {
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
  padding: 17px 0 17px 20px;
  display: inline-block;
  margin: 0 0 23px 0;
}
.input__massage {
  color: #413d4b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
  padding: 17px 0 17px 20px;
  display: inline-block;
  margin: 0 0 201px 0;
}

.form__btn {
  border: 1px solid #00e0d0;
  padding: 15px 33px;
  color: #00e0d0;
  font-family: "Hammersmith One";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.happy-client__header {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.client__columns {
  margin: 50px 0 0 0;
  display: flex;
}
.client__columns .column-1 {
  margin: 0 80px 0 0;
  display: flex;
  flex-direction: column;
}
.client__columns .column-1 img:not(last-chlid) {
  margin: 0 0 56px 0;
}
.client__columns .column-2 {
  display: flex;
  flex-direction: column;
}
.client__columns .column-2 img:not(last-chlid) {
  margin: 0 0 56px 0;
}

.mango {
  margin: 0 60px 0 0;
}

.gucci {
  margin: 0 53px 0 0;
}

.calvin-klein {
  margin: 0 54px 0 0;
}

.nike {
  margin: 0 54px 0 0;
}

.convers {
  margin: 0 50px 0 0;
}

.puma {
  margin: 0 23px 0 0;
}

.footer {
  padding: 70px 0;
  background: url(../img/footer/PUT_YOUR_BACKGROUND_HERE.png) 0 0 no-repeat;
  background-size: cover;
}

.footer__columns {
  display: flex;
  flex: 0 1 33.333%;
}

.column-1 {
  max-width: 302px;
}

.column__item-1 {
  border: none;
}
.column__text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.35px;
  margin: 0 0 80px 0;
}
.column__list {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 0 27px 0;
}
.logo img {
  margin: 0 11px 0 0;
}
.logo__text {
  color: #27BAC7;
  font-family: "Roboto Thin";
  font-size: 30px;
  font-weight: 400;
}

.list__item:not(last-chlid) {
  margin: 0 20px 0 0;
}

.btn {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.column__2 {
  max-width: 262px;
  margin: 0 62px 0 0;
}

.column__title {
  color: #ffffff;
  font-family: "Roboto Black";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0 0 42px 0;
}
.column__text-2 {
  position: relative;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.35px;
  padding: 0 0 0 20px;
  margin: 0 0 27px 0;
}
.column__text-2:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 19px;
  top: 0;
  left: 0;
  background: url(../img/footer/big.png) 0 0 no-repeat;
}
.column__number {
  position: relative;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.35px;
  padding: 0 0 0 25px;
}
.column__number:before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 5px;
  left: 0;
  background: url(../img/footer/phone.png) 0 0 no-repeat;
}

form {
  display: flex;
  margin: 0 0 27px 0;
}

.Subscribe {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
  padding: 17px 26px 17px 16px;
  color: rgba(255, 255, 255, 0.6549019608);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.7px;
  margin: 0 10px 0 0;
}

.input__btn {
  display: inline-block;
  text-align: center;
  padding: 20px 43px;
  background-color: rgba(255, 255, 255, 0.3137254902);
}

.social-networks__list {
  display: flex;
}

.social__item {
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0 10px 70px 0;
}
.item-1 {
  padding: 10px 14px;
}

.item-2 {
  padding: 12px 10px;
}

.item-3 {
  padding: 10px;
}

.item-4 {
  padding: 10px;
}

.item-5 {
  padding: 10px;
}

.item-6 {
  padding: 12px 9px;
}

.Tajem-Creative {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  letter-spacing: 0.35px;
}

.no__content {
  color: #413d4b;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 100px 0;
}